.background-image1{
  background-size: cover;
   width: 100%;
   height: 260px;
   background-repeat: no-repeat;
}
.color-overlay1{
  background-size: cover;
  background-repeat: no-repeat;
   width: 100%;
   height: 260px;
   /* background-color: rgba(16, 108, 230, 0.6); */
}